<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	 http://www.springframework.org/schema/beans/spring-beans.xsd 
	  http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/user" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="UserDao" class="com.anveshak.repository.UserDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean name="/add"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="AddUser"></property>
	</bean>
	<bean name="/delete"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="DeleteUser"></property>
	</bean>
	<bean name="/update"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="UpdateUser"></property>
	</bean>
	<bean name="/getAll"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="GetAllUsers"></property>
	</bean>

	<bean name="userservicebean" class="com.anveshak.service.UserServiceImpl">
		<property name="userdao" ref="UserDao"></property>
	</bean>
	<bean name="/*" class="com.anveshak.controller.UserController">
		<property name="userService" ref="userservicebean"></property>
	</bean>

	<bean
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

	<bean name="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>