<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">    
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="../../maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="../../ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../../maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
 button {
        padding: 5px;
        margin: 10px;
        color: blue;
        background-color:orange;
        width: 6cm;
        height: 1cm;
        margin-left: 14cm;
    }
</style>

</head>
<body>
<div style=" padding-left: 11cm">
<h1>WELCOME TO USER SYSTEM</h1>
</div>
<button type="button" style="color: green; font-size: medium; "><a th:href="@{/showForm}"><b>Register</b></a></button><br><br>
<button type="button" style="color: green;font-size: medium; "><a  th:href="@{/delete}"><b>Delete</b></a></button><br><br><br>
<button type="button" style="color: green;font-size: medium; "><a  th:href=@{/allUsers}><b>All Users Information</b></a></button><br><br><br>
<button type="button" style="color: green; font-size: medium; "><a  th:href="@{/update}"><b>Update</a></button><br><br><br>



</body>
</html>