<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Status</title>
<style>
 	button {
        padding: 5px;
        margin:10px;
        color: blue;
        background-color:white;
        width: 3cm;
        height: 1cm;
        margin-left: 1cm;
    }
</style>
</head>
<body>
<div style="margin-left: 16cm; margin-top: 5cm ;color: red;" >
<h2 th:text="${message}"></h2>
<button type="button" style="color: green;font-size: medium; "><a th:href=@{/allUsers}><b>Back</b></a></button><br><br><br>

</div>
</body>
</html>